body{
  box-sizing: border-box;
  background-color:hsl(212, 45%, 89%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Outfit', sans-serif;
}



.field{
    max-width:300px;
    min-height: 70vh;
    padding:16px;
    background-color: hsl(0, 0%, 100%);
    margin-top: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}


img{
    margin-top: 10px;
    width: 100%;
    border-radius: 10px;
}

p{
    font-size: 15px;
    color:hsl(220, 15%, 55%);
}

h1{
    font-size: 15px;
    color: hsl(218, 44%, 22%);
    text-align: center;
    margin: 5px;
    

}

footer{
    font-size: 10px;
    display: flex;
    justify-content: center;
}